QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
    position: absolute;
    top: -0.5em;
}

QTabWidget::tab-bar {
    alignment: center;
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    /* background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3); */
    background: #2b2b2b;
    color: #bdbfc0;
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
	width: 45ex;
	height: 12ex;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    /* background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #1D699D, stop: 0.4 #1D699D,
                                stop: 0.5 #1D699D, stop: 1.0 #1D699D); */
    background:#e40444;
	color: black;
}

QTabBar::tab:selected {
    /*border-color: #9B9B9B;*/
	border-color: 9B9B9B;
    border-bottom-color: #3b3f41; /* same as pane color C2C7CB*/ 
}
QTabBar::tear {
    image: url(tear_indicator.png);
}

QTabBar::scroller { /* the width of the scroll buttons */
    width: 20px;
}

QTabBar QToolButton { /* the scroll buttons are tool buttons */
    border-image: url(scrollbutton.png) 2;
    border-width: 2px;
}

QTabBar QToolButton::right-arrow { /* the arrow mark in the tool buttons */
    image: url(rightarrow.png);
}

QTabBar QToolButton::left-arrow {
    image: url(leftarrow.png);
}

QTabBar::close-button {
    image: url(close.png)
    subcontrol-position: left;
}
QTabBar::close-button:hover {
    image: url(close-hover.png)
}